name: CI

on: pull_request

permissions:
  contents: read

jobs:
  lint:
    name: Lint check
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
    - uses: actions/checkout@v5
    - name: Setup Deno
      uses: denoland/setup-deno@v2
      with:
        deno-version: v2.x
    - name: Install dependencies
      run: deno install
    - name: Lint check
      run: deno run lint

  build:
    name: Build check
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
    - uses: actions/checkout@v5
    - name: Setup Deno
      uses: denoland/setup-deno@v2
      with:
        deno-version: v2.x
    - name: Install dependencies
      run: deno install
    - name: Build check
      run: deno run build
